* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Rye", serif;
    background-image: url(./img/5_background/9800021_4272099.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    color: rgb(234, 234, 33);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 2.5rem;
}

canvas {
    border: 10px solid #2e2c2c;
    background-image: url(./img/5_background/layers/air.png);
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto;
    margin-top: 36px;
}
